<div id="myModal_footer" class="modal fixed w-full h-full top-0 left-0 z-20 overflow-x-hidden overflow-y-auto">
    <div class="modal-content relative top-[10%] py-6 mx-auto bg-blue max-w-sm md:max-w-md lg:max-w-lg 2xl:max-w-[38rem] rounded-md">
        <a class="close absolute top-6 right-6 cursor-pointer" data-modal="myModal_footer"><img class="h-6 2xl:h-8" src="{{ 'assets/images/close.svg' | theme }}" alt="close" width="auto"></a>
        <div class="modal_header text-center">
            <p class="font-bold text-white text-base lg:text-lg 2xl:text-xl uppercase mx-auto mt-8 md:mt-10 lg:mt-12 mb-3 md:mb-6 w-full max-w-xs md:max-w-sm lg:max-w-md 2xl:max-w-lg">Остались вопросы? Пожалуйста, оставьте свои данные, мы Вам перезвоним</p>
        </div>
        <div class="modal_form">
            <form data-request="{{ genericForm3 }}::onFormSubmit" class="modalForm">

                {{ form_token() }}

                <div id="{{ genericForm3 }}_forms_flash"></div>

                <div class="form_cont w-full max-w-xs md:max-w-sm lg:max-w-md 2xl:max-w-lg mx-auto">
                    <input class="w-full rounded-md border outline-darkwave h-10 md:h-14 font-medium text-sm lg:text-base pl-4 lg:pl-10 mx-auto my-2 lg:my-4" type="text" name="name" placeholder="Имя">
                </div>
                <div class="form_cont w-full max-w-xs md:max-w-sm lg:max-w-md 2xl:max-w-lg mx-auto">
                    <input class="w-full rounded-md border outline-darkwave h-10 md:h-14 font-medium text-sm lg:text-base pl-4 lg:pl-10 mx-auto my-2 lg:my-4" type="tel" name="telphone" placeholder="Телефон">
                </div>
                <div class="form_cont w-full max-w-xs md:max-w-sm lg:max-w-md 2xl:max-w-lg mx-auto">
                    <input class="w-full rounded-md border outline-darkwave h-10 md:h-14 font-medium text-sm lg:text-base pl-4 lg:pl-10 mx-auto my-2 lg:my-4" type="email" name="email" placeholder="Электронная почта">
                </div>
                <div class="form_cont w-full max-w-xs md:max-w-sm lg:max-w-md 2xl:max-w-lg mx-auto">
                    <textarea class="w-full rounded-md border outline-darkwave h-16 md:h-28 font-medium text-sm lg:text-base pl-4 lg:pl-10 mx-auto my-2 lg:my-4" type="text" name="comment" placeholder="Ваш вопрос"></textarea>
                </div>
                <div class="modal_send mt-2.5 mb-6 md:mb-10 text-center mx-8">
                    <p class="mb-4 md:mb-6 lg:mb-8 text-sm md:text-base text-white">Нажимая кнопку «Задать вопрос», вы даете свое согласие на <a class="underline" href="{{ 'politika'|page }}">обработку персональных данных</a></p>
                    <button id="simpleContactSubmitButton" class="text-darkwave uppercase font-bold text-sm sm:text-base bg-white px-6 py-4 rounded-md hover:shadow-2xl hover:shadow-darkwave" type="submit">Задать вопрос</button>
                </div>
            </form>
        </div>
    </div>
</div>


