<div id="modal-questions" class="modal modal-questions fixed w-full h-full top-0 left-0 z-10 opacity-0 invisible overflow-x-hidden overflow-y-auto">
    <a class="modal_area absolute w-full h-full top-0 left-0"></a>
    <div class="modal_body min-h-full flex justify-center items-center z-10 px-2.5 py-8">
        <div class="modal_content bg-lightbeige max-w-xl relative opacity-0 hidden rounded-md">
            <a class="modal_close absolute text-2xl leading-4 right-4 top-3 cursor-pointer">x</a>
            <div class="text-center uppercase text-base xxs:text-lg xs:text-xl font-bold mx-auto mt-10 mb-4 sm:mb-6 px-6 sm:px-0">
                <p>Пожалуйста, оставьте свои данные, мы Вам перезвоним</p>
            </div>

            <div class="modal_form px-4 xs:px-8">
                <form data-request="{{ genericForm4 }}::onFormSubmit" class="modalForm">

                    {{ form_token() }}

                    <div id="{{ genericForm4 }}_forms_flash"></div>

                    <div class="form_cont">
                        <input class="w-full border border-black h-12 xs:h-14 pl-4 xs:pl-8 my-1.5 mx-auto bg-transparent" type="text" name="name" placeholder="Ваше имя">
                    </div>
                    <div class="form_cont">
                        <input class="w-full border border-black h-12 xs:h-14 pl-4 xs:pl-8 my-1.5 mx-auto bg-transparent" type="tel" name="telphone" placeholder="Телефон">
                    </div>
                    <div class="form_cont">
                        <textarea class="w-full border border-black h-16 xs:h-20 pl-4 xs:pl-8 my-1.5 mx-auto bg-transparent" type="text" name="comment" placeholder="Ваш вопрос"></textarea>
                    </div>
                    <div class="modal_send text-center mt-4 xxs:mt-6 md:mt-8 mb-8 md:mb-16">
                        <p class="text-xs xxs:text-sm xs:text-base mb-4 xs:mb-6 md:mb-12">Нажимая кнопку «Задать вопрос», вы даете свое согласие на <a class="underline" href="{{ 'politika-konfidencialnosti'|page }}">обработку персональных данных</a></p>
                        <button id="simpleContactSubmitButton" class="bg-beige hover:bg-brown-gold duration-300 text-black hover:text-white text-sm xs:text-base border border-brown-gold active:shadow-xl shadow-gray lg:w-auto font-bold uppercase rounded-md" type="submit">
                            <p class="py-3 px-4">Задать вопрос</p>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
