<div class="section_2 pb-8 pt-8 md:pb-10 md:pt-10 lg:pb-14 lg:pt-14 xl:pb-20 xl:pt-20" id="services">
    <div class="container">
        <div class="mx-auto">
            <div class="flex items-center justify-center mb-6 md:mb-10 xl:mb-16 ">
                <span class="block border-b-2 border-lightpink mr-4 w-20 ss:w-16"></span>
                <h2 class="text-center text-gray font-serif font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">Услуги</h2>
                <span class="border-b-2 border-lightpink ml-4 w-20 ss:w-16"></span>
            </div>
            <div class="grid grid-cols-2 xs:grid-cols-4 gap-8">
                <div class="bg-lightpink py-4 px-6">
                    <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Изготовление штор</h3>
                    <p class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6 sm:pt-8">Изготовление штор из плотных тканей и тюля разного дизайна и комплектации</p>
                </div>
                <div class="bg-lightpink bg-opacity-75 py-4 px-6">
                    <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Изготовление подхватов</h3>
                    <p class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6 sm:pt-8">Изготовление подхватов и диванных подушек</p>
                </div>
                <div class="bg-lightpink bg-opacity-50 py-4 px-6">
                    <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Пошив покрывал</h3>
                    <p class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6 sm:pt-8">Пошив покрывал однослойных, а так же стёганых на подкладке</p>
                </div>
                <div class="bg-lightpink bg-opacity-25 py-4 px-6">
                    <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Консультация дизайнера</h3>
                    <p class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6 sm:pt-8">Консультация дизайнера с выбором тканей на дому</p>
                </div>
            </div>
        </div>
    </div>
</div>
