<div class="section_4 pb-8 pt-8 md:pb-10 md:pt-10 lg:pb-14 lg:pt-14 xl:pb-20 xl:pt-20" id="promo">
    <div class="container">
        <div class="mx-auto">
            <div class="flex items-center justify-center mb-6 md:mb-10 xl:mb-16 ">
                <span class="block border-b-2 border-lightpink mr-4 w-20 ss:w-16"></span>
                <h2 class="text-center text-gray font-serif font-bold text-2xl sm:text-3xl lg:text-4xl xl:text-5xl">Промоблок</h2>
                <span class="border-b-2 border-lightpink ml-4 w-20 ss:w-16"></span>
            </div>
            <div class="text-sm xs:text-base md:text-lg xl:text-xl text-justify indent-8">Блок с фото и полем для размещения текста акции. Кнопка «Оставить заявку»</div>
        </div>
    </div>
</div>
