<div class="section_6 pb-4 pt-8 md:pt-10 lg:pt-14  xl:pt-20" id="reviews">
    <div class="container">
        <div class="mx-auto">
            <div class="flex items-center justify-center animate-heading">
                <span class="block border-b-2 border-darkbeige w-12 sm:w-16 xl:w-20"></span>
                <h2 class="text-center text-darkbeige font-serif font-bold text-4xl sm:text-5xl lg:text-6xl 2xl:text-7xl mx-2 sm:mx-4">Отзывы</h2>
                <span class="border-b-2 border-darkbeige w-12 sm:w-16 xl:w-20"></span>
            </div>
            <div class="card-container mx-auto relative">
                <div class="card card-1 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
                <div class="card card-2 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
                <div class="card card-3 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
                <div class="card card-4 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
                <div class="card card-5 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
                <div class="card card-6 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
                <div class="card card-7 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
                <div class="card card-8 absolute top-0 left-0 w-full h-full bg-white rounded-md cursor-pointer"></div>
            </div>
        </div>
    </div>
</div>

