<div class="section_2 pb-8 pt-8 md:pb-10 md:pt-10 lg:pb-14 lg:pt-14 xl:pb-20 xl:pt-20" id="services">
    <div class="container">
        <div class="mx-auto">
            <div class="flex items-center justify-center mb-10 md:mb-16 xl:mb-24 animate-heading">
                <span class="block border-b-2 border-lightpink mr-4 w-20 ss:w-16"></span>
                <h2 class="text-center text-gray font-serif font-bold text-3xl sm:text-4xl lg:text-5xl xl:text-6xl">Услуги</h2>
                <span class="border-b-2 border-lightpink ml-4 w-20 ss:w-16"></span>
            </div>
            <div class="grid grid-cols-2 xs:grid-cols-3 gap-x-8 gap-y-16">
                <div class="bg-lightpink bg-opacity-25 py-4 px-6 rounded-md shadow-2xl">
                    <div class="relative -top-10">
                        {% partial "helpers/image"
                        src= "themes/murmansk/assets/images/banner.jpg"
                        mobSrc= "themes/murmansk/assets/images/banner.jpg"
                        width = 2000
                        height = 2000
                        mobWidth = 2000
                        mobHeight = 2000
                        alt = "Пошив прямых штор"
                        class= "rounded-md w-10/12 mx-auto"
                        %}
                        <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Пошив прямых штор на шторной ленте</h3>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6">Стоимость одного изделия от 3.200 до 10.500 руб. в зависимости от метража и выбранной ткани.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Ткань в наличии.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Срок пошива от 3-х дней.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                    </div>
                </div>
                <div class="bg-lightpink bg-opacity-25 py-4 px-6 rounded-md shadow-xl">
                    <div class="relative -top-10">
                        {% partial "helpers/image"
                        src= "themes/murmansk/assets/images/IMG_20230126_185318.jpg"
                        mobSrc= "themes/murmansk/assets/images/IMG_20230126_185318.jpg"
                        width = 2000
                        height = 2000
                        mobWidth = 2000
                        mobHeight = 2000
                        alt = "Пошив шторы на люверсах"
                        class= "rounded-md w-10/12 mx-auto"
                        %}
                        <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Пошив шторы на люверсах</h3>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6">Стоимость одного изделия от 6.200 до 13.500 руб. в зависимости от метража и выбранной ткани.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Ткань в наличии.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Срок пошива от 4-х дней.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                    </div>
                </div>
                <div class="bg-lightpink bg-opacity-25 py-4 px-6 rounded-md shadow-xl">
                    <div class="relative -top-10">
                        {% partial "helpers/image"
                        src= "themes/murmansk/assets/images/IMG_20230331_202124.jpg"
                        mobSrc= "themes/murmansk/assets/images/IMG_20230331_202124.jpg"
                        width = 2000
                        height = 2000
                        mobWidth = 2000
                        mobHeight = 2000
                        alt = "Изготовление «Римских штор»"
                        class= "rounded-md w-10/12 mx-auto"
                        %}
                        <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Изготовление «Римских штор»</h3>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6">Римские шторы с отделкой - от 1000 руб.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Римские шторы без отделки – от 1000 руб.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Стоимость одного изделия зависит от метража и выбранной ткани.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Срок пошива от 4-х дней.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                    </div>
                </div>
                <div class="bg-lightpink bg-opacity-25 py-4 px-6 rounded-md shadow-xl">
                    <div class="relative -top-10">
                        {% partial "helpers/image"
                        src= "/../assets/images/IMG_20230530_010646.jpg"
                        mobSrc= "/../assets/images/IMG_20230530_010646.jpg"
                        width = 2000
                        height = 2000
                        mobWidth = 2000
                        mobHeight = 2000
                        alt = "Дополнительно к шторам"
                        class= "rounded-md w-10/12 mx-auto"
                        %}
                        <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Дополнительно к основным шторам шьём:</h3>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6">- покрывала на подкладке и без;</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">- декоративные наволочки на молнии;</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">- подхваты для штор.</div>
                    </div>
                </div>
                <div class="bg-lightpink bg-opacity-25 py-4 px-6 rounded-md shadow-xl">
                    <div class="relative -top-10">
                        {% partial "helpers/image"
                        src= "themes/murmansk/assets/images/IMG_20221101_204709_13.jpg"
                        mobSrc= "themes/murmansk/assets/images/IMG_20221101_204709_13.jpg"
                        width = 2000
                        height = 2000
                        mobWidth = 2000
                        mobHeight = 2000
                        alt = "Выезд дизайнера"
                        class= "rounded-md w-10/12 mx-auto"
                        %}
                        <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Выезд дизайнера на замеры с образцами ткани</h3>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6">Наш дизайнер профессионально подберёт цвет ткани, с учетом трендов 2023 года и индивидуальных пожеланий заказчика.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Стоимость выезда 1000 руб.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">При заказе штор, 1000 руб. входит в стоимость заказа.</div>
                    </div>
                </div>
                <div class="bg-lightpink bg-opacity-25 py-4 px-6 rounded-md shadow-xl">
                    <div class="relative -top-10">
                        {% partial "helpers/image"
                        src= "themes/murmansk/assets/images/IMG_20221101_204709_13.jpg"
                        mobSrc= "themes/murmansk/assets/images/IMG_20221101_204709_13.jpg"
                        width = 2000
                        height = 2000
                        mobWidth = 2000
                        mobHeight = 2000
                        alt = "Навеска готовых штор"
                        class= "rounded-md w-10/12 mx-auto"
                        %}
                        <h3 class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl font-bold text-center pt-6 sm:pt-8">Навеска готовых штор</h3>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pt-6">Мы приедем по адресу, в удобное для вас время, повесим шторы, погладим, вам не придётся ни о чём беспокоится.</div>
                        <div class="text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Стоимость от 2.500 руб. за одно окно, в зависимости от ширины окна, высоты потолков и установленного карниза.</div>
                    </div>
                </div>
            </div>
        </div>
        {% partial "button/in_block-2" %}
    </div>
</div>
{% partial "modal/modal_block-2" %}


<div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="w-full">
        <div class="card-around relative w-full h-84 sm:h-96 md:h-92 lg:h-100">
            <div class="cover item-1 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                <h3 class="absolute bottom-0 px-10 py-8 text-white text-2xl xl:text-3xl 2xl:text-4xl leading-normal xl:leading-tight 2xl:leading-relaxed font-bold z-10">Пошив прямых штор на шторной ленте</h3>
                <span class="price"></span>
                <div class="card-back absolute h-full w-full bg-lightbeige py-6 2xl:py-10 px-8 3xl:px-10 rounded-md">
                    <div class="text font-bold text-base xs:text-xl sm:text-lg xl:text-xl 2xl:text-2xl text-center pb-2 sm:pb-4">Пошив прямых штор на шторной ленте</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Стоимость одного изделия от 3.200 до 10.500 руб. в зависимости от метража и выбранной ткани.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Ткань в наличии.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Срок пошива от 3-х дней.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full">
        <div class="card-around relative w-full h-84 sm:h-96 md:h-92 lg:h-100">
            <div class="cover item-2 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                <h3 class="absolute bottom-0 px-10 py-8 text-white text-2xl xl:text-3xl 2xl:text-4xl leading-normal xl:leading-tight 2xl:leading-relaxed font-bold z-10">Пошив шторы на люверсах</h3>
                <span class="price"></span>
                <div class="card-back absolute h-full w-full bg-lightbeige py-6 2xl:py-10 px-8 3xl:px-10 rounded-md">
                    <div class="text font-bold text-base xs:text-xl sm:text-lg xl:text-xl 2xl:text-2xl text-center pb-2 sm:pb-4">Пошив шторы на люверсах</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Стоимость одного изделия от 6.200 до 13.500 руб. в зависимости от метража и выбранной ткани.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Ткань в наличии.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Срок пошива от 4-х дней.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full">
        <div class="card-around relative w-full h-84 sm:h-96 md:h-92 lg:h-100">
            <div class="cover item-3 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                <h3 class="absolute bottom-0 px-10 py-8 text-white text-2xl xl:text-3xl 2xl:text-4xl leading-normal xl:leading-tight 2xl:leading-relaxed font-bold z-10">Изготовление «Римских штор»</h3>
                <span class="price"></span>
                <div class="card-back absolute h-full w-full bg-lightbeige py-6 2xl:py-10 px-8 3xl:px-10 rounded-md">
                    <div class="text font-bold text-lg xs:text-xl sm:text-lg xl:text-xl 2xl:text-2xl text-center pb-2 sm:pb-4">Изготовление «Римских штор»</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Римские шторы с отделкой - от 1000 руб.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Римские шторы без отделки – от 1000 руб.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Стоимость одного изделия зависит от метража и выбранной ткани.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Срок пошива от 4-х дней.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full">
        <div class="card-around relative w-full h-84 sm:h-96 md:h-92 lg:h-100">
            <div class="cover item-4 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                <h3 class="absolute bottom-0 px-10 py-8 text-white text-2xl xl:text-3xl 2xl:text-4xl leading-normal xl:leading-tight 2xl:leading-relaxed font-bold z-10">Дополнительно к основным шторам шьём</h3>
                <span class="price"></span>
                <div class="card-back absolute h-full w-full bg-lightbeige py-6 2xl:py-10 px-8 3xl:px-10 rounded-md">
                    <div class="text font-bold text-lg xs:text-xl sm:text-lg xl:text-xl 2xl:text-2xl text-center pb-2 sm:pb-4">Дополнительно к основным шторам шьём:</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify pb-1 xs:pb-2">- покрывала на подкладке и без;</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify pb-1 xs:pb-2">- декоративные наволочки на молнии;</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify">- подхваты для штор.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full">
        <div class="card-around relative w-full h-84 sm:h-96 md:h-92 lg:h-100">
            <div class="cover item-5 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                <h3 class="absolute bottom-0 px-10 py-8 text-white text-2xl xl:text-3xl 2xl:text-4xl leading-normal xl:leading-tight 2xl:leading-relaxed font-bold z-10">Выезд дизайнера на замеры с образцами ткани</h3>
                <span class="price"></span>
                <div class="card-back absolute h-full w-full bg-lightbeige py-6 2xl:py-10 px-8 3xl:px-10 rounded-md">
                    <div class="text font-bold text-lg xs:text-xl sm:text-lg xl:text-xl 2xl:text-2xl text-center pb-2 sm:pb-4">Выезд дизайнера на замеры с образцами ткани</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Наш дизайнер подберёт цвет ткани, с учетом трендов 2023 года и индивидуальных пожеланий заказчика.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Стоимость выезда 1000 руб.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4">При заказе штор, 1000 руб. входит в стоимость заказа.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full">
        <div class="card-around relative w-full h-84 sm:h-96 md:h-92 lg:h-100">
            <div class="cover item-6 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                <h3 class="absolute bottom-0 px-10 py-8 text-white text-2xl xl:text-3xl 2xl:text-4xl leading-normal xl:leading-tight 2xl:leading-relaxed font-bold z-10">Навеска готовых штор</h3>
                <span class="price"></span>
                <div class="card-back absolute h-full w-full bg-lightbeige py-6 2xl:py-10 px-8 3xl:px-10 rounded-md">
                    <div class="text font-bold text-lg xs:text-xl sm:text-lg xl:text-xl 2xl:text-2xl text-center pb-2 sm:pb-4">Навеска готовых штор</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4 pb-1 xs:pb-2">Мы приедем по адресу, в удобное для вас время, повесим шторы, погладим, вам не придётся ни о чём беспокоится.</div>
                    <div class="text text-sm xxs:text-base xs:text-lg xs:leading-6 sm:text-base xl:text-lg 2xl:text-xl text-justify indent-4">Стоимость от 2.500 руб. за одно окно, в зависимости от ширины окна, высоты потолков и установленного карниза.</div>
                </div>
            </div>
        </div>
    </div>
</div>