<div class="section_2 pb-8 pt-8 md:pb-10 md:pt-10 lg:pb-14 lg:pt-14 xl:pb-20 xl:pt-20" id="services">
    <div class="container">
        <div class="mx-auto">
            <div class="flex items-center justify-center mb-10 md:mb-16 xl:mb-24 animate-heading">
                <span class="block border-b-2 border-lightpink mr-4 w-20 ss:w-16"></span>
                <h2 class="text-center text-gray font-serif font-bold text-3xl sm:text-4xl lg:text-5xl xl:text-6xl">Услуги</h2>
                <span class="border-b-2 border-lightpink ml-4 w-20 ss:w-16"></span>
            </div>

                <div class="grid grid-cols-3 gap-6">
                    <div class="w-full">
                        <div class="card-around relative w-full h-100">
                            <div class="cover item-1 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                                <h3 class="absolute bottom-14 left-12 text-white text-[2.5em] font-bold z-10">Пошив прямых штор на шторной ленте</h3>
                                <span class="price"></span>
                                <div class="card-back absolute h-full w-full bg-lightpink py-10 px-8 rounded-md">
                                    <div class="text font-bold text-sm sm:text-base sm:text-lg lg:text-xl xl:text-2xl text-center pb-4">Пошив прямых штор на шторной ленте</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Стоимость одного изделия от 3.200 до 10.500 руб. в зависимости от метража и выбранной ткани.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Ткань в наличии.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Срок пошива от 3-х дней.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="card-around relative w-full h-100">
                            <div class="cover item-2 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                                <h3 class="absolute bottom-14 left-12 text-white text-[2.5em] font-bold z-10">Пошив шторы на люверсах</h3>
                                <span class="price"></span>
                                <div class="card-back absolute h-full w-full bg-lightpink py-10 px-10 rounded-md">
                                    <div class="text font-bold text-sm sm:text-base sm:text-lg lg:text-xl xl:text-2xl text-center pb-4">Пошив прямых штор на шторной ленте</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Стоимость одного изделия от 6.200 до 13.500 руб. в зависимости от метража и выбранной ткани.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Ткань в наличии.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Срок пошива от 4-х дней.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="card-around relative w-full h-100">
                            <div class="cover item-3 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                                <h3 class="absolute bottom-14 left-12 text-white text-[2.5em] font-bold z-10">Изготовление «Римских штор»</h3>
                                <span class="price"></span>
                                <div class="card-back absolute h-full w-full bg-lightpink py-10 px-10 rounded-md">
                                    <div class="text font-bold text-sm sm:text-base sm:text-lg lg:text-xl xl:text-2xl text-center pb-4">Изготовление «Римских штор»</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Римские шторы с отделкой - от 1000 руб.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Римские шторы без отделки – от 1000 руб.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Стоимость одного изделия зависит от метража и выбранной ткани.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Срок пошива от 4-х дней.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">*Действует скидка на заказ 2-х и более окон.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="card-around relative w-full h-100">
                            <div class="cover item-4 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                                <h3 class="absolute bottom-14 left-12 text-white text-[2.5em] font-bold z-10">Дополнительно к основным шторам</h3>
                                <span class="price"></span>
                                <div class="card-back absolute h-full w-full bg-lightpink py-10 px-10 rounded-md">
                                    <div class="text font-bold text-sm sm:text-base sm:text-lg lg:text-xl xl:text-2xl text-center pb-4">Дополнительно к основным шторам шьём:</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">- покрывала на подкладке и без;</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">- декоративные наволочки на молнии;</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">- подхваты для штор.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="card-around relative w-full h-100">
                            <div class="cover item-5 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                                <h3 class="absolute bottom-14 left-12 text-white text-[2.5em] font-bold z-10">Выезд дизайнера на замеры с образцами ткани</h3>
                                <span class="price"></span>
                                <div class="card-back absolute h-full w-full bg-lightpink py-10 px-10 rounded-md">
                                    <div class="text font-bold text-sm sm:text-base sm:text-lg lg:text-xl xl:text-2xl text-center pb-4">Выезд дизайнера на замеры с образцами ткани</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Наш дизайнер профессионально подберёт цвет ткани, с учетом трендов 2023 года и индивидуальных пожеланий заказчика.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Стоимость выезда 1000 руб.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">При заказе штор, 1000 руб. входит в стоимость заказа.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="card-around relative w-full h-100">
                            <div class="cover item-6 absolute w-full h-full bg-no-repeat bg-cover rounded-md">
                                <h3 class="absolute bottom-14 left-12 text-white text-[2.5em] font-bold z-10">Навеска готовых штор</h3>
                                <span class="price"></span>
                                <div class="card-back absolute h-full w-full bg-lightpink py-10 px-10 rounded-md">
                                    <div class="text font-bold text-sm sm:text-base sm:text-lg lg:text-xl xl:text-2xl text-center pb-4">Навеска готовых штор</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify pb-4">Мы приедем по адресу, в удобное для вас время, повесим шторы, погладим, вам не придётся ни о чём беспокоится.</div>
                                    <div class="text text-xs sm:text-sm sm:text-base lg:text-lg xl:text-xl text-justify">Стоимость от 2.500 руб. за одно окно, в зависимости от ширины окна, высоты потолков и установленного карниза.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% partial "button/in_block-2" %}
    </div>
</div>
{% partial "modal/modal_block-2" %}
<style>
    .card-around {
        transition: ease all 2.3s;
        perspective: 1200px;
    }
    .card-around:hover .cover {
        transform: rotateX(0deg) rotateY(-180deg);
    }
    .card-around:hover .cover:before {
        transform: translateZ(30px);
    }
    .card-around:hover .cover:after {
        background-color: black;
    }
    .card-around:hover .cover h3 {
        transform: translateZ(100px);
    }
    .card-around:hover .cover .price {
        transform: translateZ(60px);
    }
    .card-around:hover .cover .text  {
        transform: translateZ(-60px) rotatey(-180deg);
    }
    .cover {
        transform-style: preserve-3d;
        transition: ease all 2.3s;
    }
    .card-around .cover:before {
        content: '';
        position: absolute;
        border: 5px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        z-index: 2;
        transition: ease all 2.3s;
        transform-style: preserve-3d;
        transform: translateZ(0px);
        border-radius: 6px;
    }
    .card-around .cover:after {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: 2;
        transition: ease all 1.3s;
        background: rgba(0, 0, 0, 0.4);
        border-radius: 6px;
    }
    .cover.item-1 {
        background-image: url('themes/murmansk/assets/images/banner.jpg');
    }
    .cover.item-2 {
        background-image: url('themes/murmansk/assets/images/IMG_20230126_185318.jpg');
    }
    .cover.item-3 {
        background-image: url('themes/murmansk/assets/images/IMG_20230331_202124.jpg');
    }
    .cover.item-4 {
        background-image: url('themes/murmansk/assets/images/IMG_20230530_010646.jpg');
    }
    .cover.item-5 {
        background-image: url('themes/murmansk/assets/images/IMG_20221101_204709_13.jpg');
    }
    .cover.item-6 {
        background-image: url('themes/murmansk/assets/images/IMG_20221101_204709_13.jpg');
    }
    .cover h3 {
        transform-style: preserve-3d;
        transition: ease all 2.3s;
        transform: translateZ(0px);
    }
    .card-back {
        transform-style: preserve-3d;
        transition: ease all 2.3s;
        transform: translateZ(-1px);
    }
    .card-around .card-back .text  {
        transform-style: preserve-3d;
        transition: ease transform 2.3s, ease background 0.5s;
        transform: translateZ(-1px) rotatey(-180deg);
    }

</style>
