
@layer components {
    /*bootstrap*/
    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }

    .col-lg-5, .col-lg-7 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .container-fluid {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .col-12 {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    @media (min-width: 992px) {
        .col-lg-5 {
            -ms-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }

        .col-lg-7 {
            -ms-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
    }
    /* МОДАЛЬНОЕ ОКНО */
    .modal{
        /*background: rgba(0, 0, 0, 0.38);*/
        /*backdrop-filter: blur(4px);*/
        transition: all 0.8s ease 0s;
    }
    .modal-consultation.active, .modal-measurement.active, .modal-application.active{
        opacity: 1;
        visibility: visible;
        background: rgba(0, 0, 0, 0.38);
    }
    .modal-consultation.active .modal_content, .modal-measurement.active .modal_content, .modal-application.active .modal_content{
        transform: translate(0px, 0px);
        opacity: 1;
        display: block;
    }
    .modal_content{
        transition: all 0.8s ease 0s;
        transform: translate(0px, -100%);
    }
    .modal_form input:focus, .modal_form textarea:focus{
        outline: none;
        border: 2px solid #515b76;
    }
    .modal_form input::placeholder, .modal_form textarea::placeholder {
        color: #515b76;
    }

    /*блок1*/

    /*блок2*/
    .animate-heading {
        opacity: 0;
        transform: translateY(-50%);
    }
    .animate-heading.element-show{
        opacity: 1;
        transition: all 2s;
        transform: translateY(0%);
    }
    .animate-around.element-animation {
        opacity: 0;
    }
    .animate-around.element-animation.element-show {
        animation: around 2s forwards;
    }
    @keyframes around {
        from {
            opacity: 0;
            transform: rotateY(180deg);
        }
        to {
            opacity: 1;
            transform: rotateY(360deg);
        }
    }

    /*блок3*/

    .scheme-1.element-animation{
        opacity: 0;
        transform: translatey(20%);
    }
    .scheme-1.element-animation.element-show{
        animation: opacity 1s forwards;
    }
    @keyframes opacity {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    .scheme-2.element-animation{
        opacity: 0;
        transform: translateY(-20%);
    }
    .scheme-2.element-animation.element-show{
        animation: opacity 1s forwards;
        animation-delay: 0.3s;
    }
    .scheme-3.element-animation{
        opacity: 0;
        transform: translateY(20%);
    }
    .scheme-3.element-animation.element-show{
        animation: opacity 1s forwards;
        animation-delay: 0.6s;
    }
    .scheme-4.element-animation{
        opacity: 0;
        transform: translateY(-20%);
    }
    .scheme-4.element-animation.element-show{
        animation: opacity 1s forwards;
        animation-delay: 0.9s;
    }
    .scheme-5.element-animation{
        opacity: 0;
        transform: translateY(20%);
    }
    .scheme-5.element-animation.element-show{
        animation: opacity 1s forwards;
        animation-delay: 1.2s;
    }
    @media (max-width: 1280px) {
        .scheme-5.element-animation{
            opacity: 0;
            transform: translateY(-20%);
        }
    }
    @media (max-width: 1024px) {
        .scheme-1.element-animation, .scheme-2.element-animation, .scheme-3.element-animation, .scheme-4.element-animation{
            opacity: 0;
            transform: translateY(-20%);
        }
    }

    /* увеличение фото при наведении на карточку */
    .servicesCard:hover img{
        transform: scale(1.2);
    }
    .servicesCard img {
        transition: 1s;
    }
    .servicesCard:before {
        display: block;
        background-color: rgb(0, 0, 0);
        content: "";
        height: 100%;
        opacity: 0;
        position: absolute;
        width: 100%;
        z-index: 2;
    }
    .servicesCard:after {
        color: white;
        content: attr(alt);
        display: block;
        font-size: 32px;
        opacity: 0;
        padding: 0 3%;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transform: scale(0) translateY(-50%);
        transform: scale(0) translateY(-50%);
        width: 100%;
        z-index: 3;
    }
    .servicesCard:after {
        -webkit-transition: all 350ms ease-in-out;
        transition: all 350ms ease-in-out;
    }

    .servicesCard:hover:before {
        opacity: 0.6;
    }

    .servicesCard:hover:after {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-50%);
        transform: scale(1) translateY(-50%);
    }

    /*блок5*/

    @media (max-width: 1280px) {
        .servicesCard:after {
            font-size: 24px;
        }
    }
    @media (max-width: 768px) {
        .servicesCard:after {
            font-size: 20px;
        }
    }
    /* ХЕДЕР, ФУТЕР */
    .underline-one:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 1px; /* Высота линии */
        background-color: white; /* Цвет подчеркивания при исчезании линии*/
        transition: width 0.5s; /* Время эффекта */
    }
    .underline-one:hover:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px; /* Высота линии */
        background-color: #ebcdcf; /* Цвет подчеркивания при появлении линии*/
        transition: width 0.5s;  /* Время эффекта */
    }
    .underline-two:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 1px; /* Высота линии */
        background-color: #515b76; /* Цвет подчеркивания при исчезании линии*/
        transition: width 0.5s; /* Время эффекта */
    }
    .underline-two:hover:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px; /* Высота линии */
        background-color: #515b76; /* Цвет подчеркивания при появлении линии*/
        transition: width 0.5s;  /* Время эффекта */
    }
    .underline-free:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -3px;
        width: 0;
        height: 1px; /* Высота линии */
        background-color: #515b76; /* Цвет подчеркивания при исчезании линии*/
        transition: width 0.5s; /* Время эффекта */
    }
    .underline-free:hover:after {
        content: "";
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 1px; /* Высота линии */
        background-color: #515b76; /* Цвет подчеркивания при появлении линии*/
        transition: width 0.5s;  /* Время эффекта */
    }
}
html{
    scroll-behavior: smooth;
}
body{
    background-image: linear-gradient(to bottom, #ffffff, #ebcdcf);
}


/*алерты и прочее*/
.alert {
    background-color: #0505A9;
    text-align: center;
    color: #FFFFFF;
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 30;
}
.alert button {
    display: none;
}
.list ul{
    list-style-position: inside;
    text-align: start;
}
