<div class="py-12 px-5 lg:px-8 overflow-hidden swiper banner-slider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="">
                <img class="w-full" src="{{ 'assets/images/DBVD0790.jpg' | theme }}" alt="">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="">
                <img class="w-full" src="{{ 'assets/images/DBVD0816.jpg' | theme }}" alt="">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="">
                <img class="w-full" src="{{ 'assets/images/DBVD0830.jpg' | theme }}" alt="">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="">
                <img class="w-full" src="{{ 'assets/images/DBVD0837.jpg' | theme }}" alt="">
            </div>
        </div>
        <div class="swiper-slide">
            <div class="">
                <img class="w-full" src="{{ 'assets/images/DBVD0867.jpg' | theme }}" alt="">
            </div>
        </div>
    </div>
    <div class="swiper-pagination banner-pagination"></div>
    <div class="swiper-button-prev banner-prev"></div>
    <div class="swiper-button-next banner-next"></div>
    <div class="swiper-scrollbar banner-scrollbar"></div>
</div>
<div class="text-end rounded-md mt-16">
    <a href="" class="blob-btn z-10 relative px-10 py-5 text-center uppercase text-base text-bluewave font-bold bg-transparent rounded-md cursor-pointer hover:text-white">
        Оставить заявку
        <span class="overflow-hidden rounded-md bg-white w-full h-full absolute top-0 left-0 z-[-1]">
          <span class="blob-btn__blobs relative block h-full">
            <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-bluewave"></span>
            <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-bluewave"></span>
            <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-bluewave"></span>
            <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-bluewave"></span>
          </span>
        </span>
    </a>
    <br/>
    <svg class="absolute" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
            </filter>
        </defs>
    </svg>
</div>
<script>
    const swiper = new Swiper('.banner-slider',{
        navigation: {
            nextEl: '.banner-next',
            prevEl: '.banner-prev',
        },
        // pagination: {
        //     el: '.banner-pagination',
        //     // clickable: true,
        //     // dynamicBullets: true,
        //     type: 'progressbar',
        // },
        scrollbar: {
            el: '.banner-scrollbar',
            draggable: true,
        },
        slidesPerView: 2,
        watchOverflow: true,
        spaceBetween: 40,
        speed: 2500,
        autoplay: true,
        autoplayDisableOnInteraction: false,
        loop: true
    });
</script>
