<div class="w-auto">
    <div class="inline-flex text-center rounded-md mt-4 lg:mt-0">
        <button data-modal="myModal_footer" class="openModalBtn blob-btn btn_footer z-10 relative px-4 py-3 xl:px-6 xl:py-4 text-center uppercase text-base lg:text-lg xl:text-xl text-bluewave font-bold bg-transparent rounded-md cursor-pointer hover:text-white">
            Остались вопросы?
            <span class="overflow-hidden rounded-md bg-white w-full h-full absolute top-0 left-0 z-[-1]">
              <span class="blob-btn__blobs relative block h-full">
                <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-blue"></span>
                <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-blue"></span>
                <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-blue"></span>
                <span class="blob-btn__blob absolute top-0.5 w-1/4 h-full bg-blue"></span>
              </span>
            </span>
        </button>
        <br/>
        <svg class="absolute w-0" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                    <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                </filter>
            </defs>
        </svg>
    </div>
</div>